* {
  margin: 0;
  padding: 0; }

#index div {
  display: grid;
  grid-template-areas: "nav header header header" "nav section1 section1 aside" "nav section2 section2 aside" "nav footer footer footer";
  grid-template-rows: 10vw 40vw 40vw 10vw;
  grid-template-columns: 10vw 35vw 35vw 20vw; }
  #index div .imgpr {
    width: 130px;
    height: 130px; }
  #index div nav {
    grid-area: nav;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    #index div nav ul {
      margin-top: 30px; }
      #index div nav ul li {
        padding: 20px; }
        #index div nav ul li:hover {
          background-color: grey;
          color: black;
          transform: scale(1.1, 1); }
        #index div nav ul li a {
          color: cornsilk;
          text-decoration: none; }
  #index div header {
    grid-area: header;
    background-image: url(https://i.pinimg.com/564x/2f/13/a2/2f13a2e150a7288bd215c53f0883eabb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    #index div header h1 {
      color: red;
      text-align: center;
      font-size: 50px;
      padding: 10px;
      text-transform: uppercase; }
    #index div header h2 {
      color: cornsilk;
      font-size: 30px;
      text-align: center; }
  #index div section {
    grid-area: section1;
    background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
    background-size: cover;
    text-align: center; }
    #index div section h2 {
      font-size: 30px;
      margin: 20px;
      text-decoration: overline underline;
      color: red; }
    #index div section div {
      display: flex; }
      #index div section div img {
        width: 50%; }
  #index div article {
    grid-area: section2;
    background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
    background-size: cover;
    text-align: center; }
    #index div article h3 {
      font-size: 30px;
      margin: 20px;
      text-decoration: overline underline;
      color: red; }
    #index div article div {
      display: flex; }
      #index div article div p {
        font-size: 17px;
        font-style: oblique;
        color: cornsilk;
        padding: 15px; }
    #index div article .imgsection2 {
      width: 50%;
      border-radius: 0.5rem; }
  #index div aside {
    grid-area: aside;
    background-image: url(https://thumbs.dreamstime.com/b/fondo-oscuro-de-la-rejilla-122240695.jpg); }
    #index div aside h1 {
      color: red;
      font-size: 40px;
      margin: 10px;
      text-align: center; }
    #index div aside p {
      color: cornsilk;
      text-align: center;
      font-size: 15px;
      padding: 20px; }
    #index div aside ul {
      list-style: none;
      color: whitesmoke;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #index div aside ul li {
        padding: 20px;
        font-size: 25px; }
  #index div footer {
    grid-area: footer;
    background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
    background-size: cover;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center; }
    #index div footer .imgfooter {
      width: 120px;
      height: 120px; }
    #index div footer ol {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding-top: 50px; }
      #index div footer ol li:hover {
        transform: scale(1.1, 1); }
      #index div footer ol li a {
        color: red; }

@media (max-width: 480px) {
  #index div {
    display: grid;
    grid-template-areas: "nav nav nav" "section1 section1 section1" "section2 section2 section2" "footer footer footer";
    grid-template-rows: 10vh auto auto 10vh;
    grid-template-columns: 30vw 35vw 35vw; }
    #index div .imgpr {
      width: 50px;
      height: 50px; }
    #index div nav {
      grid-area: nav;
      background-color: black;
      display: flex;
      align-items: flex-start;
      align-content: stretch;
      flex-direction: column-reverse;
      justify-content: space-around;
      padding-top: 20px;
      max-width: 480px; }
      #index div nav ul {
        margin-top: 30px;
        display: flex;
        flex-direction: row; }
      #index div nav li {
        padding: 12px; }
    #index div header h1 {
      color: red;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase; }
    #index div header h2 {
      color: cornsilk;
      font-size: 10px;
      text-align: center; }
    #index div article .imgsection2 {
      width: 0%; }
    #index div footer .imgfooter {
      width: 50px;
      height: 50px; }
    #index div footer ol {
      padding-top: 0; } }

#quienessomos {
  background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
  background-size: cover; }
  #quienessomos div {
    display: grid;
    grid-template-areas: "nav header" "nav main" "nav footer";
    grid-template-rows: 10vw 80vw 10vw;
    grid-template-columns: 10vw 90vw; }
    #quienessomos div .imgpr {
      width: 130px;
      height: 130px; }
    #quienessomos div nav {
      grid-area: nav;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
    #quienessomos div ul {
      margin-top: 30px; }
      #quienessomos div ul li {
        padding: 20px; }
        #quienessomos div ul li:hover {
          background-color: grey;
          color: black;
          transform: scale(1.1, 1); }
        #quienessomos div ul li a {
          color: cornsilk;
          text-decoration: none; }
    #quienessomos div header {
      grid-area: header;
      background-image: url(https://i.pinimg.com/564x/2f/13/a2/2f13a2e150a7288bd215c53f0883eabb.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #quienessomos div header h1 {
        color: red;
        text-align: center;
        font-size: 50px;
        padding: 10px;
        text-transform: uppercase; }
      #quienessomos div header h2 {
        color: cornsilk;
        font-size: 30px;
        text-align: center; }
    #quienessomos div main {
      grid-area: main;
      background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
      background-size: cover;
      text-align: center; }
      #quienessomos div main h2, #quienessomos div main h3 {
        color: red;
        text-align: center;
        padding-top: 1rem; }
      #quienessomos div main p {
        color: aliceblue;
        text-align: center;
        padding-left: 4.5rem;
        padding-right: 4.5rem; }
      #quienessomos div main img {
        width: 400px;
        height: 250px;
        padding-top: 0.5rem; }
    #quienessomos div footer {
      margin-top: 0.7rem;
      grid-area: footer;
      background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
      background-size: cover;
      display: flex;
      align-content: flex-start;
      justify-content: space-evenly;
      align-items: center; }
      #quienessomos div footer .imgfooter {
        width: 120px;
        height: 120px; }
      #quienessomos div footer ol {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50px; }
        #quienessomos div footer ol li:hover {
          transform: scale(1.1, 1); }
        #quienessomos div footer ol li a {
          color: red; }
  @media (max-width: 480px) {
    #quienessomos div {
      display: grid;
      grid-template-areas: "nav nav nav" "main main main" "main main main" "footer footer footer";
      grid-template-rows: 10vh auto auto 10vh;
      grid-template-columns: 30vw 35vw 35vw; }
      #quienessomos div .imgpr {
        width: 50px;
        height: 50px; }
      #quienessomos div nav {
        grid-area: nav;
        background-color: black;
        display: flex;
        align-items: flex-start;
        align-content: stretch;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding-top: 20px;
        max-width: 480px; }
        #quienessomos div nav ul {
          margin-top: 30px;
          display: flex;
          flex-direction: row; }
        #quienessomos div nav li {
          padding: 12px; }
      #quienessomos div header h1 {
        color: red;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase; }
      #quienessomos div header h2 {
        color: cornsilk;
        font-size: 10px;
        text-align: center; }
      #quienessomos div footer .imgfooter {
        width: 50px;
        height: 50px; }
      #quienessomos div footer ol {
        padding-top: 0; } }

#fighters {
  background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
  background-size: cover; }
  #fighters div {
    display: grid;
    grid-template-areas: "nav header" "nav main" "footer footer";
    grid-template-rows: 10vw 80vw 10vw;
    grid-template-columns: 10vw 90vw; }
    #fighters div .imgpr {
      width: 130px;
      height: 130px; }
    #fighters div nav {
      grid-area: nav;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      #fighters div nav ul {
        margin-top: 30px; }
        #fighters div nav ul li {
          padding: 20px; }
          #fighters div nav ul li:hover {
            background-color: grey;
            color: black;
            transform: scale(1.1, 1); }
          #fighters div nav ul li a {
            color: white;
            text-decoration: none; }
    #fighters div header {
      grid-area: header;
      background-image: url(https://i.pinimg.com/564x/2f/13/a2/2f13a2e150a7288bd215c53f0883eabb.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #fighters div header h1 {
        color: red;
        text-align: center;
        font-size: 50px;
        padding: 10px;
        text-transform: uppercase; }
      #fighters div header h2 {
        color: cornsilk;
        font-size: 30px;
        text-align: center; }
    #fighters div main {
      grid-area: main;
      background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
      background-size: cover;
      text-align: center; }
      #fighters div main h2 {
        color: red;
        text-align: center;
        padding-top: 1rem;
        text-decoration: underline;
        text-decoration-color: aliceblue; }
      #fighters div main h3 {
        color: red;
        text-align: center;
        padding-top: 1rem; }
      #fighters div main p {
        color: aliceblue;
        text-align: center; }
      #fighters div main div {
        display: flex;
        justify-content: center; }
        #fighters div main div img {
          width: 400px;
          height: 370px;
          padding: 1rem; }
    #fighters div footer {
      margin-top: 5px;
      grid-area: footer;
      background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
      background-size: cover;
      display: flex;
      align-content: flex-start;
      justify-content: space-evenly;
      align-items: center; }
      #fighters div footer .imgfooter {
        width: 120px;
        height: 120px; }
      #fighters div footer ol {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50px; }
        #fighters div footer ol li:hover {
          transform: scale(1.1, 1); }
        #fighters div footer ol li a {
          color: red; }
  @media (max-width: 480px) {
    #fighters div {
      display: grid;
      grid-template-areas: "nav nav nav" "main main main" "main main main" "footer footer footer";
      grid-template-rows: 10vh auto auto 10vh;
      grid-template-columns: 30vw 35vw 35vw; }
      #fighters div .imgpr {
        width: 50px;
        height: 50px; }
      #fighters div nav {
        grid-area: nav;
        background-color: black;
        display: flex;
        align-items: flex-start;
        align-content: stretch;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding-top: 20px;
        max-width: 480px; }
        #fighters div nav ul {
          margin-top: 30px;
          display: flex;
          flex-direction: row; }
        #fighters div nav li {
          padding: 12px; }
      #fighters div header h1 {
        color: red;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase; }
      #fighters div header h2 {
        color: cornsilk;
        font-size: 10px;
        text-align: center; }
      #fighters div footer {
        transform: translate(-480px, 2345px); }
        #fighters div footer .imgfooter {
          width: 50px;
          height: 50px; }
        #fighters div footer ol {
          padding-top: 0; } }

#disciplinas {
  background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
  background-size: cover; }
  #disciplinas div {
    display: grid;
    grid-template-areas: "nav header" "nav main" "footer footer";
    grid-template-rows: 10vw 117vw 10vw;
    grid-template-columns: 10vw 90vw; }
    #disciplinas div .imgpr {
      width: 130px;
      height: 130px; }
    #disciplinas div nav {
      grid-area: nav;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      #disciplinas div nav ul {
        margin-top: 30px; }
        #disciplinas div nav ul li {
          padding: 20px; }
          #disciplinas div nav ul li:hover {
            background-color: grey;
            color: white;
            transform: scale(1.1, 1); }
          #disciplinas div nav ul li a {
            color: white;
            text-decoration: none; }
    #disciplinas div header {
      grid-area: header;
      background-image: url(https://i.pinimg.com/564x/2f/13/a2/2f13a2e150a7288bd215c53f0883eabb.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #disciplinas div header h1 {
        color: red;
        text-align: center;
        font-size: 50px;
        padding: 10px;
        text-transform: uppercase; }
      #disciplinas div header h2 {
        color: cornsilk;
        font-size: 30px;
        text-align: center; }
    #disciplinas div main {
      grid-area: main;
      background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
      background-size: cover;
      text-align: center; }
      #disciplinas div main h2 {
        color: red;
        text-align: center;
        padding-top: 1rem;
        text-decoration: underline;
        text-decoration-color: aliceblue; }
      #disciplinas div main h3 {
        color: red;
        text-align: center;
        padding-top: 1rem; }
      #disciplinas div main p {
        color: aliceblue;
        text-align: center;
        padding-left: 7rem;
        padding-right: 7rem; }
      #disciplinas div main div {
        display: flex;
        justify-content: center; }
        #disciplinas div main div img {
          width: 400px;
          height: 370px;
          padding: 1rem; }
    #disciplinas div footer {
      margin-top: 10px;
      grid-area: footer;
      background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
      background-size: cover;
      display: flex;
      align-content: flex-start;
      justify-content: space-evenly;
      align-items: center; }
      #disciplinas div footer .imgfooter {
        width: 120px;
        height: 120px; }
      #disciplinas div footer ol {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50px; }
        #disciplinas div footer ol li:hover {
          transform: scale(1.1, 1); }
        #disciplinas div footer ol li a {
          color: red; }
  @media (max-width: 480px) {
    #disciplinas div {
      display: grid;
      grid-template-areas: "nav nav nav" "main main main" "main main main" "main main main" "footer footer footer";
      grid-template-rows: 10vh auto auto auto 15vh;
      grid-template-columns: 30vw 35vw 35vw; }
      #disciplinas div .imgpr {
        width: 50px;
        height: 50px; }
      #disciplinas div nav {
        grid-area: nav;
        background-color: black;
        display: flex;
        align-items: flex-start;
        align-content: stretch;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding-top: 20px;
        max-width: 480px; }
        #disciplinas div nav ul {
          margin-top: 30px;
          display: flex;
          flex-direction: row; }
        #disciplinas div nav li {
          padding: 12px; }
      #disciplinas div main img {
        width: 0;
        height: 0; }
      #disciplinas div main p {
        padding-left: 2rem;
        padding-right: 2rem; }
      #disciplinas div footer {
        transform: translate(-480px, 3640px); }
        #disciplinas div footer .imgfooter {
          width: 50px;
          height: 50px; }
        #disciplinas div footer ol {
          padding-top: 0; } }

#contacto {
  background-image: url(https://archive.org/download/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg);
  background-size: cover; }
  #contacto div {
    display: grid;
    grid-template-areas: "nav header" "nav main" "footer footer";
    grid-template-rows: 10vw auto 10vw;
    grid-template-columns: 10vw 90vw; }
    #contacto div .imgpr {
      width: 130px;
      height: 130px; }
    #contacto div nav {
      grid-area: nav;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      #contacto div nav ul {
        margin-top: 30px; }
        #contacto div nav ul li {
          padding: 20px; }
          #contacto div nav ul li:hover {
            background-color: grey;
            color: black;
            transform: scale(1.1, 1); }
          #contacto div nav ul li a {
            color: white;
            text-decoration: none; }
    #contacto div header {
      grid-area: header;
      background-image: url(https://i.pinimg.com/564x/2f/13/a2/2f13a2e150a7288bd215c53f0883eabb.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      #contacto div header h1 {
        color: red;
        text-align: center;
        font-size: 50px;
        padding: 10px;
        text-transform: uppercase; }
      #contacto div header h2 {
        color: cornsilk;
        font-size: 30px;
        text-align: center; }
    #contacto div main img {
      width: 535px;
      height: 450px;
      margin: -480px 539px;
      border-radius: 2rem; }
    #contacto div main div {
      display: block;
      padding-left: 1rem;
      padding-top: 2rem; }
      #contacto div main div label {
        font-family: fantasy;
        font-size: large;
        font-style: italic;
        text-decoration-line: underline;
        text-decoration-style: solid;
        color: #AE0A0A; }
        #contacto div main div label span {
          padding: 20px;
          text-align: center;
          font-size: large;
          font-family: 'raleway'; }
      #contacto div main div textarea {
        border-radius: 1rem; }
      #contacto div main div input {
        background-color: #9b9999;
        border: #1F1F1F 5px double;
        border-style: outset;
        padding: 2px;
        border-radius: 0.5rem; }
    #contacto div footer {
      margin-top: 5px;
      grid-area: footer;
      background-image: url(https://us.123rf.com/450wm/romansli/romansli2003/romansli200300063/141671871-textura-de-fondo-gris-en-dise%C3%B1o-de-papel-vintage-antiguo-con-borde-negro-ilustraci%C3%B3n-de-fondo-de-met.jpg?ver=6);
      background-size: cover;
      display: flex;
      align-content: flex-start;
      justify-content: space-evenly;
      align-items: center; }
      #contacto div footer .imgfooter {
        width: 120px;
        height: 120px; }
      #contacto div footer ol {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50px; }
        #contacto div footer ol li:hover {
          transform: scale(1.1, 1); }
        #contacto div footer ol li a {
          color: red; }
  @media (max-width: 480px) {
    #contacto div {
      display: grid;
      grid-template-areas: "nav nav nav" "main main main" "main main main" "footer footer footer";
      grid-template-rows: 10vh auto auto 10vh;
      grid-template-columns: 30vw 35vw 35vw; }
      #contacto div .imgpr {
        width: 0;
        height: 0; }
      #contacto div nav {
        grid-area: nav;
        background-color: black;
        display: flex;
        align-items: flex-start;
        align-content: stretch;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-top: 20px;
        max-width: 480px; }
        #contacto div nav ul {
          margin-top: 30px;
          display: flex;
          flex-direction: row;
          align-items: center; }
        #contacto div nav li {
          padding: 12px; }
      #contacto div main div {
        display: block;
        transform: translate(-214px, 48px);
        padding-left: 0rem;
        padding-top: 0rem; }
      #contacto div main img {
        width: 0;
        height: 0; }
      #contacto div header h1 {
        color: red;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase; }
      #contacto div header h2 {
        color: cornsilk;
        font-size: 10px;
        text-align: center; }
      #contacto div footer {
        transform: translate(-1560px, 508px); }
        #contacto div footer .imgfooter {
          width: 50px;
          height: 50px; }
        #contacto div footer ol {
          padding-top: 0; } }
